.error-h1 {
  color: red;
  font-size: 65px;
  text-align: center;
}
.error-h3 {
  text-align: center;
}
.error-redirect {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.error-block {
  display: flex;
  flex-direction: column;
  gap: 431.5px;
}
