.information_bubble {
  background-color: #ff6f61;
  border-radius: 15px;
  padding: 10px;
  width: 310px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
